.footer {
    background: #222;
    color: #fff;
  }
  .footer__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
  }
  .footer__copyrigth {
    font-size: 13px;
  }