.header {
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin: 22px 0 18px 0;
    }
    &__menu li { 
        margin: 0 24px;
        
    }
   
    &__menu li a {
        font-family: "Gotham-Book";
        font-weight: 500; 
        color: #fff;
        font-size: 20px;
        padding: 40px 0;
    }
    &__menu li a:hover { 
        border-bottom: 5px solid #11749e;
    }
}
.menu {
    &__list {
        display: flex;      
    }
}

.scrollto {
    
}
.networks {

    &__list {
        list-style: none;
        display: flex;
    }
    &__list a{ 
        color: white;
        font-size: 20px;  
    }
    
}

.fa-facebook-f {
}
.fa-twitter {
}
.fa-skype {
}
.fa-linkedin-in {
}
.social__icon { 
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}