.quick {
    background: #11749e;
    color: #fff;
    &__row {
        padding: 109px 0 150px 0;
    }

    &__item {
        display: flex;
     max-width: 560px;
    }

    &__item-text {
        margin: 0 0 0 34px;
        line-height: 1.5em;
        font-family: "Gotham-Book";
        font-weight: 500;
        font-size: 15px;
    }
}
